.container-md {
    display: flex;
    flex-direction: column;
    border-color: black;
}

.fulAlto {
    height: 100vh;
}

.border-end {
    display: grid;
    align-content: center;
}

#Promedio {
    padding: 30px;
}



.d-grid {
    display: flex;
    align-items: center
}

#listaGrupos .tituloGrupos h4 {
    text-align: center;
    color: red;
    text-decoration: underline;
    font-size: 1.5rem; 
    margin-bottom: 10px;
}


#listaGrupos .nombre-curso {
    font-weight: bold; 
    color: black; 
    font-size: 1rem; 
}

#listaGrupos .nombre-alumno {
    font-size: 0.9rem; 
}

.titulo-grupo {
    color: #007bff; 
    font-size: 20px; 
    margin-bottom: 10px; 
}

#listaGrupos .listaAlumnos {
    display: none; 
}

